body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  margin: 16px 8px 16px 8px;
}

.button-container {
  display: inline;
  background: #e3f4ff;
  padding: 8px;
  margin-left: 170px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin-left: 150px;
  margin-top: 8px;
}

/*   margin-left: 144px;
  margin-top: 5px;
  margin-left: 170px;
  */ 